<div class="isi-footer-wrapper">
  <div class="container px-lg-0 cmp-footer-isi-content-element">
    <div class="isi-content">
      <div class="gateway-indication-head">
        <div class="isi-header isihdr_new gateway">
          <div class="isi-container-title">IMPORTANT SAFETY INFORMATION</div>
        </div>
        <div class="head3 head-title blue-mob-head">INDICATIONS</div>
        <div class="bodypara">
          <div>ZEPOSIA<sup>&reg;</sup> (ozanimod) is indicated for the treatment of:</div>
          <ol>
            <li class="bodypara mb-0">Relapsing forms of multiple sclerosis (MS), to include clinically isolated syndrome, relapsing-remitting disease, and active secondary progressive disease, in adults.</li>
            <li class="bodypara">Moderately to severely active ulcerative colitis (UC) in adults.</li>
          </ol>
        </div>
        <div class="head3 head-title pb-10 blue-mob-head">IMPORTANT SAFETY INFORMATION</div>
        <div class="head3">Contraindications:</div>
        <ul class="mb-15">
          <li>Patients who in the last 6 months, experienced myocardial infarction, unstable angina, stroke, transient ischemic attack (TIA), decompensated heart failure requiring hospitalization, or Class III/IV heart failure or have a presence of Mobitz type II second-degree or third-degree atrioventricular (AV) block, sick sinus syndrome, or sino-atrial block, unless the patient has a functioning pacemaker</li>
          <li>Patients with severe untreated sleep apnea</li>
          <li>Patients taking a monoamine oxidase (MAO) inhibitor</li>
        </ul>
        <div class="bodypara boldtxt">For additional safety information, please see the full <a href="https://packageinserts.bms.com/pi/pi_zeposia.pdf" target="_blank">Prescribing Information</a> and <a href="https://packageinserts.bms.com/medguide/medguide_zeposia.pdf" target="_blank">Medication Guide</a>.</div>
      </div>
    </div>
  </div>
  <div class="ftrcopytxtcont">
    <div class="sitetxt mb-md-1">
      <div class="container gateway-site-text">This site is intended for U.S. Healthcare Professionals only.</div>
    </div>
    <div class="ftrcopytxt fullsite ms-site-ft-glb">ZEPOSIA and ZEPOSIA logo are trademarks of Celgene Corporation, a Bristol Myers Squibb company.<br>All other trademarks are the property of their respective owners.</div>
    <div class="ftrcopytxt plms">&copy; 2024 Bristol-Myers Squibb Company. <br class="gatewaymno"><span class="d-none gatewayFooter wrd-space">2084-US-2400728 09/24</span></div>
  </div>
  <div class="bg-lighter-blue py-5 footer-links-section">
    <div class="container px-lg-0">
      <div id="ftrlogocont">
        <a class="cmp-image__link inlineblockk" href="https://www.bms.com" target="_blank" rel="noopener noreferrer">
          <img src="https://www.zeposiahcp.com/assets/commercial/us/zeposiahcp/en/images/BMS_Logo.svg" class="cmp-image__image" alt="Bristol Myers Squibb&reg; Logo">
        </a>
      </div>
    </div>
  </div>
</div>
