<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://www.zeposiahcp.com/etc.clientlibs/bms-commercial-shared/clientlibs/base.min.css" type="text/css">
<link rel="stylesheet" href="https://www.zeposiahcp.com/etc.clientlibs/bms-commercial/design/themes-clientlbs/commercial-global.min.css" type="text/css">
<link href="https://www.zeposiahcp.com/content/dam/commercial/us/zeposiahcp/en/zeposiahcp-us-en_us-publish/css/style.css" rel="stylesheet" type="text/css">
<link href="https://www.zeposiahcp.com/content/dam/commercial/us/zeposiahcp/en/zeposiahcp-us-en_us-publish/css/style_UC.css" rel="stylesheet" type="text/css">

<main>
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <div class="m-page">
            <ul class="utilitycont d-flex">
                <li class="utilitylink"><a href="https://packageinserts.bms.com/pi/pi_zeposia.pdf" target="_blank">U.S. Full Prescribing Information</a></li>
                <li class="utilitylink indication_cont">
                    <a id="nav-ind-m" class="nav-indlink">Indications</a>           
                </li> 
                <!-- <li class="utilitylink"><a href="https://packageinserts.bms.com/medguide/medguide_zeposia.pdf" target="_blank">Medication Guide</a></li> -->
            </ul>
        </div>
        <div class="logoWrap">
          <!--<a class="navbar-brand" href="/content/commercial/us/zeposiahcp/en/ulcerative-colitis.html"><img src="/content/dam/commercial/us/zeposiahcp/en/images/hdrlogo.png" alt="ZEPOSIA® (ozanimod) Logo"></a>-->
		  <a class="navbar-brand" href="/ulcerative-colitis"><img src="/assets/commercial/us/zeposiahcp/en/images/uc/OZANIMOD_US_Logo_SPOT.jpg" alt="ZEPOSIA® (ozanimod) Logo"></a>
          <p class="d-page ucAlert desktopIndi">For adults with moderate-to-severe ulcerative colitis</p>
         </div>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="">
        <span class="navbar-toggler-icon"><img src="/assets/commercial/us/zeposiahcp/en/images/uc/mobile-menu.png" alt="mobile menu button closeMenu" class="mobile-menu-icon"><p class="openMenu d-none">Close <br><span class="closeMenubutton">×</span></p></span>
        <span class="navbar-toggler-icon d-none"></span>
        <span class="navbar-toggler-icon d-none"></span>
      </button>
      <div class="collapse navbar-collapse hdrlinkscont" id="navbarNavDropdown">
        <ul class="utilitycont d-flex d-page">
            <li class="utilitylink"><a href="https://packageinserts.bms.com/pi/pi_zeposia.pdf" target="_blank">U.S. Full Prescribing Information</a></li>
            <li class="utilitylink"><a href="https://packageinserts.bms.com/medguide/medguide_zeposia.pdf" target="_blank">Medication Guide</a></li>
            <li class="utilitylink"><a href="#" class="openResources" data-aa-popup="|BMS Resources">BMS Resources</a></li>
            <li class="utilitylink"><a href="https://www.zeposia.com/ulcerative-colitis/" target="_blank">Visit Patient Site</a></li>
            <li class="utilitylink indication_cont">
                <a id="nav-ind" class="nav-indlink">Indications</a>           
            </li>   
    
        </ul>
        <ul class="navbar-nav ucMenu side-pad">
          <!--ZUCHCP-5, ZUCHCP-6 <li class="nav-item">
            <a class="nav-link" href="/ulcerative-colitis">Home</a>
          </li>-->
          <li class="nav-item dropdown d-page">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Clinical Data <img src="/assets/commercial/us/zeposiahcp/en/images/uc/redarrow.svg" class="menu-arrow red-arrow d-page"><img src="/assets/commercial/us/zeposiahcp/en/images/uc/blue-up-arrow.svg" class="menu-arrow blue-arrow d-page"></a>
            <div class="dropdown-menu ucSubMenu vertical d-page" aria-labelledby="navbarDropdownMenuLink" style="display: none;">
                <a class="dropdown-item" href="/ulcerative-colitis/zeposia-clinical-data/study-design">Study Design</a>
                <a class="dropdown-item" href="/ulcerative-colitis/zeposia-clinical-data/efficacy">Efficacy</a>
                <a class="dropdown-item" href="/ulcerative-colitis/zeposia-clinical-data/safety">Safety</a>
                <a class="dropdown-item" href="/ulcerative-colitis/zeposia-clinical-data/moa">MOA</a>

            </div>
        </li>
          <li class="nav-item dropdown-submenu m-page">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Clinical Data <img src="/assets/commercial/us/zeposiahcp/en/images/uc/redarrow.svg" class="menu-arrow m-page"></a>
                    <ul class="submenu dropdown-menu ucSubMenuMenu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/ulcerative-colitis/zeposia-clinical-data/study-design">Study Design</a></li>
                        <li>
                            <a class="nav-link dropdown-item" id="efficacyToggle" href="/ulcerative-colitis/zeposia-clinical-data/efficacy">Efficacy</a>
                          
                        </li>
                        
                        <li>
                            <a class="nav-link dropdown-item" href="/ulcerative-colitis/zeposia-clinical-data/safety">Safety</a>
                            
                        </li>
                        <li>
                            <a class="nav-link dropdown-item" href="/ulcerative-colitis/zeposia-clinical-data/moa">MOA</a>
                        </li>
                    </ul>

        </li>
		  <!-- <li class="nav-item dropdown d-page">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ZEPOSIA in Practice <img src="/content/dam/commercial/us/zeposiahcp/en/images/uc/redarrow.svg" class="menu-arrow red-arrow d-page"><img src="/content/dam/commercial/us/zeposiahcp/en/images/uc/blue-up-arrow.svg" class="menu-arrow blue-arrow d-page"></a>
                <div class="dropdown-menu ucSubMenu vertical d-page" aria-labelledby="navbarDropdownMenuLink" style="display: none;">
                    <a class="dropdown-item" href="/content/commercial/us/zeposiahcp/en/ulcerative-colitis/treating-uc/unmet-need.html">Patient Profile</a>
                    <a class="dropdown-item" href="/content/commercial/us/zeposiahcp/en/ulcerative-colitis/treating-uc/zeposia-patient.html">ZEPOSIA Experience</a>
                </div>
            </li> -->
			<!-- <li class="nav-item dropdown-submenu m-page treating-uc-link">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ZEPOSIA in Practice <img src="/content/dam/commercial/us/zeposiahcp/en/images/uc/redarrow.svg" class="menu-arrow m-page"></a>
					<ul class="submenu dropdown-menu ucSubMenuMenu" aria-labelledby="navbarDropdownMenuLink">
						<li><a class="dropdown-item" href="/content/commercial/us/zeposiahcp/en/ulcerative-colitis/treating-uc/unmet-need.html">Patient Profile</a></li>
						<li>
							<a class="nav-link dropdown-item" href="/content/commercial/us/zeposiahcp/en/ulcerative-colitis/treating-uc/zeposia-patient.html">ZEPOSIA Experience</a>
							<ul class="dropdown-menu m-page efficacySubmenu navaigationList" aria-labelledby="efficacyToggle" id="patientToggleDropdown">
								<li><a class="dropdown-item dropdown-item2" href="/content/commercial/us/zeposiahcp/en/ulcerative-colitis/treating-uc/zeposia-patient.html#patient-profiles">Patient Profile</a></li>
								<li><a class="dropdown-item dropdown-item2" href="/content/commercial/us/zeposiahcp/en/ulcerative-colitis/treating-uc/zeposia-patient.html#hcp-patient-dialogue">HCP-Patient Dialogue</a></li>
							</ul>
						</li>
					</ul>
            </li> -->
           
         
          <!-- <li class="nav-item">
            <a class="nav-link" href="/content/commercial/us/zeposiahcp/en/ulcerative-colitis/moa.html">MOA</a>
          </li> -->
          <li class="nav-item dropdown m-page">
            <a class="nav-link dropdown-toggle" href="/ulcerative-colitis/dosing-and-initiation">Dosing &amp; Initiation</a>
            
          </li>
           <li class="nav-item d-page">
            <a class="nav-link d-page" href="/ulcerative-colitis/dosing-and-initiation">Dosing &amp; Initiation</a>
           </li>
		   
<!-- <li class="nav-item dropdown-submenu m-page">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Support <img src="/content/dam/commercial/us/zeposiahcp/en/images/uc/redarrow.svg" class="menu-arrow m-page"></a>
	<ul class="submenu dropdown-menu ucSubMenuMenu" aria-labelledby="navbarDropdownMenuLink">
		<li><a class="nav-link dropdown-item" href="/content/commercial/us/zeposiahcp/en/ulcerative-colitis/support/zeposia-360.html">ZEPOSIA 360</a></li>
		<li><a class="nav-link dropdown-item" href="/content/commercial/us/zeposiahcp/en/ulcerative-colitis/support/resources.html">Resources</a></li>
	</ul>
</li> -->

		  <!-- <li class="nav-item dropdown d-page">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Support <img src="/content/dam/commercial/us/zeposiahcp/en/images/uc/redarrow.svg" class="menu-arrow red-arrow d-page"><img src="/content/dam/commercial/us/zeposiahcp/en/images/uc/blue-up-arrow.svg" class="menu-arrow blue-arrow d-page"></a>
                <div class="dropdown-menu ucSubMenu vertical d-page" aria-labelledby="navbarDropdownMenuLink" style="display: none;">
                    <a class="dropdown-item" href="/content/commercial/us/zeposiahcp/en/ulcerative-colitis/support/zeposia-360.html">ZEPOSIA 360</a>
                    <a class="dropdown-item" href="/content/commercial/us/zeposiahcp/en/ulcerative-colitis/support/resources.html">Resources</a>
                </div>
            </li> -->
		  <li class="nav-item round-btn d-page">
            <!--<a class="nav-link d-page" href="/content/dam/commercial/us/zeposiahcp/en/pdf/uc/zeposia-gastro-start-form.pdf" target="_blank">-->
            <!-- <a href="/content/commercial/us/zeposiahcp/en/covermeds_modal.html" class="nav-link d-page">Get Started</a> -->
          </li>
          <li class="nav-item m-page">
            <a class="nav-link openResources" href="#">BMS Resources</a>
          </li>
          <li class="nav-item m-page"><a class="nav-link" href="https://www.zeposia.com/ulcerative-colitis/" target="_blank">Visit Patient Site</a></li>
          <li class="utilitylink nav-item m-page"><a class="nav-link" href="https://packageinserts.bms.com/medguide/medguide_zeposia.pdf" target="_blank">Medication Guide</a></li>
            <!-- <li class="utilitylink nav-item indication_cont m-page">
                <a id="nav-ind" class="nav-indlink nav-link">Indications</a>           
            </li>  --> 
		<div class="round-btn m-page">
			<!--<a class="nav-link" href="/content/dam/commercial/us/zeposiahcp/en/pdf/uc/zeposia-gastro-start-form.pdf" target="_blank">-->
            <!-- <a href="/content/commercial/us/zeposiahcp/en/covermeds_modal.html" class="nav-link">Get Started</a> -->
		</div>	
         <!-- <div class="rar-item m-page">
            <img onclick="chatController.openConverse(this, true)" src="/content/dam/commercial/us/zeposiahcp/en/images/uc/Contact_Rep_Floating_Button_Mobile.png" alt="Request a Rep Icon">         
          </div>   -->
    
        </ul>
      </div>
      <p class="d-none ucAlert">For adults with moderate-to-severe ulcerative colitis</p>
      </div>
    </nav>
<div class="column-control aem-GridColumn aem-GridColumn--default--12">





















    <div class="row" id="ucHome">   
        
            <div class="col col-12">
                <div class="column-control-column">
                    <div class="experiencefragment section">





    
	
    <div>
    	


    


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="html aem-GridColumn aem-GridColumn--default--12">
<div>
	
		


    
    

</div>

</div>
<div class="html aem-GridColumn aem-GridColumn--default--12">
<div>
	
		<!--div class="headerWrapUC">
<div class="sitetxt"><div class="container">This site is intended for U.S. Healthcare Professionals only.</div></div>
<nav class="navbar navbar-expand-lg">
<div class="container">
	<ul class="utilitycont d-flex m-page">
        <li class="utilitylink"><a href='https://packageinserts.bms.com/pi/pi_zeposia.pdf' title='' class='' target='_blank'  aria-label=''lang=''>U.S. Full Prescribing Information</a></li>
        <li class="utilitylink"><a href='https://packageinserts.bms.com/medguide/medguide_zeposia.pdf' title='' class='' target='_blank'  aria-label=''lang=''>Medication Guide</a></li>
    </ul>
	<div class="logoWrap">
	  <a href='/ulcerative-colitis' data-authorurl='/ulcerative-colitis' title='' aria-label='' lang='' class='open-modal navbar-brand' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis|'><img src="/content/dam/commercial/us/zeposiahcp/en/images/hdrlogo.svg" alt="ZEPOSIAÂ® (ozanimod) Logo"></a>
	  <p class="d-page ucAlert desktopIndi">For adults with moderate to severe ulcerative colitis</p>
	 </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"><img src="/content/dam/commercial/us/zeposiahcp/en/images/uc/mobile-menu.png" alt="mobile menu button closeMenu" class="mobile-menu-icon"><p class="openMenu d-none">Close <br><span class="closeMenubutton">Ã—</span></p></span>
	<span class="navbar-toggler-icon d-none"></span>
	<span class="navbar-toggler-icon d-none"></span>
  </button>
  <div class="collapse navbar-collapse hdrlinkscont" id="navbarNavDropdown">
    <ul class="utilitycont d-flex d-page">
        <li class="utilitylink"><a href='https://packageinserts.bms.com/pi/pi_zeposia.pdf' title='' class='' target='_blank'  aria-label=''lang=''>U.S. Full Prescribing Information</a></li>
        <li class="utilitylink"><a href='https://packageinserts.bms.com/medguide/medguide_zeposia.pdf' title='' class='' target='_blank'  aria-label=''lang=''>Medication Guide</a></li>
        <li class="utilitylink"><a href='#' id='' title='' class='openResources' target='' aria-label=''lang=''>BMS Resources</a></li>
        <li class="utilitylink"><a href='https://www.zeposia.com/ulcerative-colitis' data-authorurl='https://www.zeposia.com/ulcerative-colitis' title='' aria-label='' lang='' class='open-modal ' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='Visit Patient Site' data-classname='external-link-warning-modal cross-site' data-aa-popup='https://www.zeposia.com/ulcerative-colitis|Visit Patient Site'>Visit Patient Site</a></li>
		<li class="utilitylink indication_cont">
            <a id='nav-ind'></a>           
        </li>   
    </ul>
    <ul class="navbar-nav ucMenu">
      <li class="nav-item">
        <a href='/ulcerative-colitis/home' data-authorurl='/ulcerative-colitis/home' title='' aria-label='' lang='' class='open-modal nav-link' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='Home' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/home|Home'>Home</a>
      </li>
		<li class="nav-item dropdown d-page">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Clinical Data <img src="/content/dam/commercial/us/zeposiahcp/en/images/uc/red-arrow.svg" class="menu-arrow red-arrow d-page"/></a>
			<div class="dropdown-menu ucSubMenu vertical d-page" aria-labelledby="navbarDropdownMenuLink" style="display: none;">
				<a href='/ulcerative-colitis/zeposia-clinical-data/study-design' data-authorurl='/ulcerative-colitis/zeposia-clinical-data/study-design' title='' aria-label='' lang='' class='open-modal dropdown-item' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='Study Design' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/zeposia-clinical-data/study-design|Study Design'>Study Design</a>
				<a href='/ulcerative-colitis/zeposia-clinical-data/efficacy' data-authorurl='/ulcerative-colitis/zeposia-clinical-data/efficacy' title='' aria-label='' lang='' class='open-modal dropdown-item' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='Efficacy' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/zeposia-clinical-data/efficacy|Efficacy'>Efficacy</a>
				<a href='/ulcerative-colitis/zeposia-clinical-data/safety' data-authorurl='/ulcerative-colitis/zeposia-clinical-data/safety' title='' aria-label='' lang='' class='open-modal dropdown-item' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='Safety' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/zeposia-clinical-data/safety|Safety'>Safety</a>
			</div>
		</li>
		<li class="nav-item dropdown-submenu m-page">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Clinical Data <img src="/content/dam/commercial/us/zeposiahcp/en/images/uc/red-arrow.svg" class="menu-arrow m-page"></a>
					<ul class="submenu dropdown-menu ucSubMenuMenu" aria-labelledby="navbarDropdownMenuLink">
						<li><a href='/ulcerative-colitis/zeposia-clinical-data/study-design' data-authorurl='/ulcerative-colitis/zeposia-clinical-data/study-design' title='' aria-label='' lang='' class='open-modal dropdown-item' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='Study Design' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/zeposia-clinical-data/study-design|Study Design'>Study Design</a></li>
						<li>
							<a href='#' id='efficacyToggle' title='' class='nav-link dropdown-item dropdown-toggle' target='' aria-label=''lang=''>Efficacy <img src="/content/dam/commercial/us/zeposiahcp/en/images/uc/red-arrow.svg" class="menu-arrow m-page safetyArrow"></a>
							<ul class="dropdown-menu m-page efficacySubmenu navaigationList" aria-labelledby="efficacyToggle">
								<li><a href='/ulcerative-colitis/zeposia-clinical-data/efficacy#remission' data-authorurl='/ulcerative-colitis/zeposia-clinical-data/efficacy#remission' title='' aria-label='' lang='' class='open-modal dropdown-item' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='Remission' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/zeposia-clinical-data/efficacy#remission|Remission'>Remission</a></li>
								<li><a href='/ulcerative-colitis/zeposia-clinical-data/efficacy#response' data-authorurl='/ulcerative-colitis/zeposia-clinical-data/efficacy#response' title='' aria-label='' lang='' class='open-modal dropdown-item' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='Response' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/zeposia-clinical-data/efficacy#response|Response'>Response</a></li>
								<li><a href='/ulcerative-colitis/zeposia-clinical-data/efficacy#ehmi' data-authorurl='/ulcerative-colitis/zeposia-clinical-data/efficacy#ehmi' title='' aria-label='' lang='' class='open-modal dropdown-item' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='EHMI' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/zeposia-clinical-data/efficacy#ehmi|EHMI'>EHMI</a></li>
								<li><a href='/ulcerative-colitis/zeposia-clinical-data/efficacy#csFree' data-authorurl='/ulcerative-colitis/zeposia-clinical-data/efficacy#csFree' title='' aria-label='' lang='' class='open-modal dropdown-item' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='CS-Free' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/zeposia-clinical-data/efficacy#csFree|CS-Free'>CS-Free</a></li>
								<li><a href='/ulcerative-colitis/zeposia-clinical-data/efficacy#tnfi' data-authorurl='/ulcerative-colitis/zeposia-clinical-data/efficacy#tnfi' title='' aria-label='' lang='' class='open-modal dropdown-item' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='TNFi' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/zeposia-clinical-data/efficacy#tnfi|TNFi'>TNFi</a></li>
							</ul>
						</li>
						
						<li><a href='#' id='safetyToggle' title='' class='nav-link dropdown-item dropdown-toggle' target='' aria-label=''lang=''> Safety <img src="/content/dam/commercial/us/zeposiahcp/en/images/uc/red-arrow.svg" class="menu-arrow m-page safetyArrow"></a>
							<ul class="dropdown-menu m-page safetySubmenu navaigationList" aria-labelledby="safetyToggle">
								<li><a href='/ulcerative-colitis/zeposia-clinical-data/safety#advrReaction' data-authorurl='/ulcerative-colitis/zeposia-clinical-data/safety#advrReaction' title='' aria-label='' lang='' class='open-modal dropdown-item' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='Adverse Reaction' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/zeposia-clinical-data/safety#advrReaction|Adverse Reaction'>Adverse Reaction</a></li>
								<li><a href='/ulcerative-colitis/zeposia-clinical-data/safety#lDR' data-authorurl='/ulcerative-colitis/zeposia-clinical-data/safety#lDR' title='' aria-label='' lang='' class='open-modal dropdown-item' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='Discontinuation Rates' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/zeposia-clinical-data/safety#lDR|Discontinuation Rates'>Discontinuation Rates</a></li>
								<li><a href='/ulcerative-colitis/zeposia-clinical-data/safety#sam' data-authorurl='/ulcerative-colitis/zeposia-clinical-data/safety#sam' title='' aria-label='' lang='' class='open-modal dropdown-item' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='Serious Infections and Malignancies' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/zeposia-clinical-data/safety#sam|Serious Infections and Malignancies'>Serious Infections and Malignancies</a></li>
								<li><a href='/ulcerative-colitis/zeposia-clinical-data/safety#ole' data-authorurl='/ulcerative-colitis/zeposia-clinical-data/safety#ole' title='' aria-label='' lang='' class='open-modal dropdown-item' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='OLE Safety' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/zeposia-clinical-data/safety#ole|OLE Safety'>OLE Safety</a></li>
							</ul>
						</li>
					</ul>

		</li>
	  <li class="nav-item">
        <a href='/ulcerative-colitis/MOA' data-authorurl='/ulcerative-colitis/MOA' title='' aria-label='' lang='' class='open-modal nav-link' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='MOA' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/MOA|MOA'>MOA</a>
      </li>
      <li class="nav-item dropdown m-page">
        <a href='#' id='navbarDropdownMenuLink' title='' class='nav-link dropdown-toggle' target='' aria-label=''lang=''>Starting ZEPOSIA <img src="/content/dam/commercial/us/zeposiahcp/en/images/uc/red-arrow.svg" class="menu-arrow m-page"></a>
		<div class="dropdown-menu dosingSubMenu navaigationList" aria-labelledby="navbarDropdownMenuLink" style="display: none;">
			<a href='/ulcerative-colitis/starting-zeposia#dosing' data-authorurl='/ulcerative-colitis/starting-zeposia#dosing' title='' aria-label='' lang='' class='open-modal dropdown-item' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='Dosing' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/starting-zeposia#dosing|Dosing'>Dosing</a>
			<a href='/ulcerative-colitis/starting-zeposia#gs' data-authorurl='/ulcerative-colitis/starting-zeposia#gs' title='' aria-label='' lang='' class='open-modal dropdown-item' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='Getting Started' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/starting-zeposia#gs|Getting Started'>Getting Started</a>
		</div>
      </li>
	   <li class="nav-item d-page">
		<a href='/ulcerative-colitis/starting-zeposia' data-authorurl='/ulcerative-colitis/starting-zeposia' title='' aria-label='' lang='' class='open-modal nav-link d-page' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='Starting ZEPOSIA' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/starting-zeposia|Starting ZEPOSIA'>Starting ZEPOSIA</a>
	   </li>
      <li class="nav-item dropdown m-page">
        <a href='#' id='navbarDropdownMenuLink' title='' class='nav-link dropdown-toggle' target='' aria-label=''lang=''>Support <img src="/content/dam/commercial/us/zeposiahcp/en/images/uc/red-arrow.svg" class="menu-arrow m-page"></a>
		<div class="dropdown-menu zeposiaSubMenu" aria-labelledby="navbarDropdownMenuLink" style="display: none;">
			<a href='/ulcerative-colitis/support#zeposia360' data-authorurl='/ulcerative-colitis/support#zeposia360' title='' aria-label='' lang='' class='open-modal dropdown-item' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='ZEPOSIA 360' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/support#zeposia360|ZEPOSIA 360'>ZEPOSIA 360</a>
			<a href='/ulcerative-colitis/support#resources' data-authorurl='/ulcerative-colitis/support#resources' title='' aria-label='' lang='' class='open-modal dropdown-item' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='Resources' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/support#resources|Resources'>Resources</a>
		</div>
	  </li>
	  <li class="nav-item d-page">
		<a href='/ulcerative-colitis/support' data-authorurl='/ulcerative-colitis/support' title='' aria-label='' lang='' class='open-modal nav-link d-page' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='Support' data-classname='external-link-warning-modal cross-site' data-aa-popup='/ulcerative-colitis/support|Support'>Support</a>
	  </li>
      <li class="nav-item m-page">
        <a href='#' id='' title='' class='nav-link openResources' target='' aria-label=''lang=''>BMS Resources</a>
      </li>
      <li class="nav-item m-page"><a href='https://www.zeposia.com/ulcerative-colitis' data-authorurl='https://www.zeposia.com/ulcerative-colitis' title='' aria-label='' lang='' class='open-modal nav-link' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='Visit Patient Site' data-classname='external-link-warning-modal cross-site' data-aa-popup='https://www.zeposia.com/ulcerative-colitis|Visit Patient Site'>Visit Patient Site</a></li>
		<li class="utilitylink nav-item indication_cont m-page">
            <a id='nav-ind'></a>           
        </li>  
    </ul>
  </div>
  <p class="d-none ucAlert">For adults with moderate to severe ulcerative colitis</p>
  </div>
</nav>

</div>
<div class="headerWrapUC-support">

</div>
<div class="container indmodal_container">
    <div id="indication_modal" class="modal" tabindex="-1" role="dialog" aria-labelledby="nav-ind" aria-hidden="true" data-backdrop="false">
        <div class="modal-dialog">
            <div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Indications</h5>
					<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="body_txt">ZEPOSIA<sup>&reg;</sup> (ozanimod) is indicated for the treatment of:<ol>
					<li>Moderately to severely active ulcerative colitis (UC) in adults.</li>
					<li>Relapsing forms of multiple sclerosis (MS), to include clinically isolated syndrome, relapsing-remitting disease, and active secondary progressive disease, in adults.</li>
					</ol></div>
				</div>
            </div>
        </div>                
    </div>
   </div> 
   
<div id="resourcesPopup" style="display: none; position: fixed; height: 100%; top: 0;left: 0;width: 100%;">
<div id="close_btn_new">X</div>    
    <div class="resourcesContent">&nbsp;</div>
</div -->
    
    

</div>

</div>

<div class="html aem-GridColumn aem-GridColumn--default--12">
<div>
	
		<div id="resourcesPopup" style="display: none; position: fixed; height: 100%; top: 0;left: 0;width: 100%;">
<div id="close_btn">X</div>
    <div class="resourcesContent">&nbsp;</div>
</div>

<!--script>
$(document).ready(function(){
			function resourceOverlayNew() {

				var pageUrl = 'https://www.bmscustomerconnect.com/';
				if ((window.location.href.search('author.bms.com')>0) || (window.location.href.search('preview')>0)) {
				pageUrl=window.location.origin+"/content/commercial/us/BMSCUSTOMERCONNECT/en/home.html";
				}
			  
				$('#resourcesPopup').show();
			  $( ".resourcesContent" ).load( pageUrl);
			  $('body').addClass('resOverlay');
			  var resourceLinkClass = $(".openResources").attr("class");  
			   resourceLinkClass = resourceLinkClass.split(" ");
			  setTimeout(function(){ 	if($('.resourcesContent').length>0){
			  $( ".resourcesContent" ).addClass('res-pop');
			  } }, 5000);
			  }


		$("#close_btn").on("click", function(){
		   $("#resourcesPopupNew").hide();
		   location.reload ()
        });
        
        $('.openResources').click(function(e) {
			e.preventDefault();
			resourceOverlayNew();
        });
});
</script-->

    
    

</div>

</div>
<div class="html aem-GridColumn aem-GridColumn--default--12">
<div>
	
		
    
    

</div>

</div>
<div class="html aem-GridColumn aem-GridColumn--default--12">
<div>
	
		<!-- Interactive studion css --> 

    
    

</div>

</div>
<div class="html aem-GridColumn aem-GridColumn--default--12">
<div>
	
		<!-- video modal -->
<!-- <div class="modal fade" id="video-overlay" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog vertical-align-center" role="document">
		<div class="modal-content modalvideocontent">	
			<button type="button" class="close kolclose" data-dismiss="modal">X</button>
			<div class="modal-body p-0">
			<div class="videoContainer">
				<div class="commonClassvideo"></div>
				<div class="videoObjCode"></div>
			</div>
			</div>
		</div>
	</div>
</div> -->
<!-- <style>
	@media (min-width: 1024px) {
		#video-overlay .videoContainer.active .videoObjCode {
    height: 400px !important;
}
.modal-content.modalvideocontent {
    border-radius: 0px;
    border: 12px solid #ffffff;
    width: 140%;
    max-width: 800px;
    top: 10%;
    right: 91px;
    margin: auto;
}
.ucsite .modal .close.kolclose {
    z-index: 1;
    right: 20px !important;
    top: 20px !important;
    font-size: 20px;
}

	}

    @media (max-width: 1023px){
        #video-overlay .videoContainer.active .videoObjCode {
    height: 300px !important;
}
.modal-content.modalvideocontent{

    border-radius: 0px;
    width: 100%;
    max-width: 400px;
    top: 10%;
    margin: auto;

}
.ucsite .modal .close.kolclose{
    z-index: 1;
    color: #fff;
    font-size: 20px;
}

    }
	
</style>

<style>
    span.newref-new {
    color: #FF00FF;
}
	.kolvidnewtext {
		
		background-color: #F9423A;
		border-radius: 10px 10px 0px 0px;
		color: #fff;
		font-size: 20px !important;    
		font-family: 'MontserratBold';
	}
	p.koltext {
		font-size: 20px;
		font-family: 'MontserratBold';
		padding-top: 14px;
		padding-left: 26px;
	}
	
	span.newwkoltxt {
		position: relative;
		left: 9px;
		top: 1px;
	}
	
	.kolvidnewsection1 {
		padding-top: 40px;
	}
	.kolvidnewsection2 {
		padding-top: 40px;
	}
	p.kolvidtitle {
		color: #0032A0;
		font-family: 'MontserratBold';
		line-height: 20px;
	}
	p.abbr.kolfootnote {
		color: #0032A0;
		padding-top: 41px;
	}
	ul.list.kolvideolist {
		color: #0032A0;
	}
	.calloutkolnew1 {
		display: flex;
		border: 1px solid #F9423A;
		border-radius: 11px;
		padding: 7px;
		background-color: whitesmoke;
		width: 862px;
	}
	p.callout-kol-txt1 {
		padding-top: 17px;
		padding-left: 32px;
		color: #F9423A;
		text-decoration: underline;
		font-family: 'MontserratBold';
	}
	.calloutkolnew1{
		margin-top:30px;
		margin-bottom:30px;
	}
	
	@media (min-width: 1024px) {
		.kolvidnewtext {
		width: 1020px;
		height: 60px;
		line-height: 39px;
		margin-top: -30px;
		margin-left: -65px;
	}
	.kolvibox{
		height: 390px !important;
	}
	.newsectionkol{
		column-gap: 76px;
	}
	.calloutkolnew1 {
		width: 862px;
	}
	.callout-kol-img1 {
    position: relative;
    left: 10px;
    top: 4px;
}
p.callout-kol-txt1.kolonelinetxt {
    padding-top: 24px !important;
}
.callout-kol-img1.kolimgoneline {
    top: 0px !important;
}
	}
	@media (max-width: 1023px) {
		.kolvidnewtext {
		width: 362px;
		height: 60px;
		margin-left: -5px;
		margin-top: -25px;
	}
	.callout-kol-img1 {
		
		width: 100%;
		margin-top: 31px;
		margin-left: 11px;
		
	}
	.calloutkolnew1 {
		width: 320px;
		
	}
    p.callout-kol-txt1 {
		padding-left: 15px !important;

	}
    p.callout-kol-txt1.kolonelinetxt {
    padding-left: 4px !important;
}
img.kolvidsection2img {
    width: 321px;
    height: 193px;
    position: relative;
    left: 16px;
    top: -19px;
}
.kolvidnewsection1{
	margin-left: 26px;
}
p.abbr.kolfootnote {
    margin-left: 26px;
    padding-top: 10px;
}
	}
	</style> -->

    
    

</div>

</div>

    
</div>


    </div>
</div>
<div class="column-control section">





















    <div class="row" id="ucHomeBanner">   
        
            <div class="col col-12">
                <div class="column-control-column">
                    <div class="experiencefragment section">





    
	
    <div>
    	


    


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="column-control aem-GridColumn aem-GridColumn--default--12">





















    <div class="row" id="bannerBG">   
        
            <div class="col col-12">
                <div class="column-control-column">
                    <div class="card-container section">

<div class="cmp-card-container row justify-content-center">   
    
    <div class="col-12">
        <div class="card-color-container d-block mx-auto" style="background-color: ;width:%;height:px">
            <div class="overlay-element">
              <div class="column-control section">




















<div class="container">
    <div class="row" id="bannerContent">   
        
            <div class="col col-12">
                <div class="column-control-column">
                    <div class="html section">
<div>
	
		<div class="banner-content">
   
    <div class="contentBlock d-flex">
        <div class="left-banner">
		<p class="bane_one top-space cent_srt">If your patients with moderate UC are still experiencing symptoms on conventional treatments<sup>1-3a</sup></p>
        <h1 class="bann_big"><span class="unboldd cent_cyc">BREAK THE CYCLE</span> <br class="d-none d-md-block"><span class="alryt cen_zep">WITH ZEPOSIA</span></h1>
        <div class="grey-con cent_des cent_mob">
            <p class="fsbold">Take the next step with the combination of:</p>
            <div class="flx-ban">
			<img src="/assets/commercial/us/zeposiahcp/en/images/icon_pill_2.svg" alt="ZEPOSIAÂ® for UC Header Image" class="pill_image">
                <p class="one_ps">Highly <br>selective oral<sup>4b</sup></p>
                <p class="two_ps">Rapid response <nobr>&amp; <br class="d-lg-block d-none">sustained</nobr> remission<sup>4c</sup></p>
                <p class="three_ps">Well-established<br>safety profile<sup class="bit-small">4,5d</sup></p>
                
            </div>
        </div>
        <!--<div class="banner-buts">
            <div class="first_but"><a href='/content/commercial/us/zeposiahcp/en/ulcerative-colitis/zeposia-clinical-data/safety.html' title='' class='ble-btn' target='' aria-label='' lang=''>View the Data  <img src="/content/dam/commercial/us/zeposiahcp/en/images/arrow_i.svg" alt="ZEPOSIAÂ® for UC Header Image" class="arrow_img_new" /></a></div>
            <div class="second_but"><a href='/content/commercial/us/zeposiahcp/en/ulcerative-colitis/treating-uc/zeposia-patient.html' title='' class='ble-btn' target='' aria-label='' lang=''>View Patient Profile <img src="/content/dam/commercial/us/zeposiahcp/en/images/arrow_i.svg" alt="ZEPOSIAÂ® for UC Header Image" class="arrow_img_new" /></a></div>
        </div>-->
		<div class="banner-buts">
            <div class="first_but move-right1 cent_resize"><a href="/ulcerative-colitis/zeposia-clinical-data/efficacy" title="" class="ble-btn" target="" aria-label="" lang="">View the Data  <img src="/assets/commercial/us/zeposiahcp/en/images/arrow_i.svg" alt="ZEPOSIAÂ® for UC Header Image" class="arrow_img_new move-right"></a></div>
            <!-- <div class="second_but"><a href='/content/commercial/us/zeposiahcp/en/ulcerative-colitis/treating-uc/unmet-need.html' title='' class='ble-btn' target='' aria-label='' lang=''>View Patient Profile <img src="/content/dam/commercial/us/zeposiahcp/en/images/arrow_i.svg" alt="ZEPOSIAÂ® for UC Header Image" class="arrow_img_new" /></a></div> -->
        </div>
		

<!-- footnote -->
	<div class="footenote-container">
		<ul class="footnote-list uc_home_mc pextra">
			<li class="redu-space space-rem"><span><sup>a</sup></span><span>Includes 5-ASAs and corticosteroids. Patients entering TRUE NORTH were required to be on stable doses of oral aminosalicylates and/or corticosteroids.<sup>4</sup></span></li>
			<li class="redu-space space-rem"><span><sup>b</sup></span><span><span class="bluee">Highly selective oral:</span> ZEPOSIA is an S1P receptor modulator that binds with high affinity to S1P receptors 1 and 5. The mechanism by which ZEPOSIA exerts therapeutic effects in UC is unknown.<sup>4</sup></span></li>
			<li class="redu-space space-rem"><span><sup>c</sup></span><span><span class="bluee">Rapid response &amp; sustained remission:</span> significantly higher clinical response rates vs placebo in the pivotal trial: 48% (205/429) vs 26% (56/216) at <b>Week 10</b> (<em>p</em>&lt;0.0001), and 60% (138/230) vs 41% (93/227) at <b>Week 52</b> (<em>p</em>&lt;0.0001). Significantly higher clinical remission rates vs placebo in the pivotal trial: 18% (79/429) vs 6% (13/216) at <b>Week 10</b> (<em>p</em>&lt;0.0001), and 37% (85/230) vs 19% (42/227) at <b>Week 52</b> (<em>p</em>&lt;0.0001).<sup>4</sup></span></li>
			<li class="space-rem"><span><sup>d</sup></span><span><span class="bluee">Well-established safety profile:</span> across multiple indications, ZEPOSIA has been studied in 4 clinical trials, including TRUE NORTH (Ph 3); TOUCHSTONE (Ph 2); and SUNBEAM (Ph 3) and RADIANCE (Ph 3). 496 patients receiving the 0.92-mg dose of ZEPOSIA during induction in TRUE NORTH or TOUCHSTONE and 882 patients receiving the 0.92-mg dose of ZEPOSIA in SUNBEAM or RADIANCE were assessed in the safety analysis.<sup><!--5,6-->4,5</sup></span></li>
			
		</ul>
	</div>
       
        </div>
        <div class="banner-info ucs_home">
            <!--<img src="/content/dam/commercial/us/zeposiahcp/en/images/uc/herodesktop.png" alt="Man walking out of revolving door" class="d-none d-md-block" />			
			<img src="/content/dam/commercial/us/zeposiahcp/en/images/uc/heromobile.png" alt="Man walking out of revolving door" class="d-block d-md-none"/>-->
			<!-- <img src="/content/dam/commercial/us/zeposiahcp/en/images/UC-hero.png" alt="Man walking out of revolving door" class="hero-d d-none d-md-block"/>			
			<img src="/content/dam/commercial/us/zeposiahcp/en/images/uc/heromobile.png" alt="Man walking out of revolving door" class="d-block d-md-none"/> -->
        </div>
    </div>
  
    <p class="new-text d-block d-md-none">Significantly higher clinical remission rates vs placebo in the pivotal trial: 18% (79/429) vs 6% (13/216) at Week 10 (<em>p</em>&lt;0.0001) and 37% (85 /230) vs 19% (42 /227) at Week 52 (<em>p</em>&lt;0.0001).</p>
</div>



    
    

</div>

</div>
<div class="html section">
<div>
	
		<!--div class="home-content container">
	<div class="footenote-container">
		<ul class="footnote-list">
			<li><span><sup>a</sup></span><span>Advanced therapies include S1P, biologics, and JAKi.</span></li-->
			<!--<li><span><sup>b</sup></span><span>Significantly higher clinical remission rates vs placebo in the pivotal trial: 18% (79/429) vs 6% (13/216) at Week 10 (<em>p</em><0.0001) and 37% (85/230) vs 19% (42/227) at Week 52 (<em>p</em><0.0001).</span></li>
			<li><span><sup>c</sup></span><span>Studied in 4 clinical trials<sup>d</sup> with over 1370 ZEPOSIA-treated patients across multiple indications and over 20,000 patient years of total exposure in clinical trials (Ph 1-3 MS, Ph 2-3 UC) and post-marketing setting.<sup>4-6</sup></span></li>
			<li><span><sup>d</sup></span><span>ZEPOSIA has been studied across multiple indications in 4 clinical trials, including TRUE NORTH (Ph 3); TOUCHSTONE (Ph 2); SUNBEAM (Ph 3); and RADIANCE (Ph 3). 496 patients receiving the 0.92-mg dose of ZEPOSIA during induction in TRUE NORTH or TOUCHSTONE and 882 patients receiving the 0.92-mg dose of ZEPOSIA in SUNBEAM or RADIANCE were assessed in the safety analysis.<sup>1</sup> <br />MS: Includes Phase 1, Phase 2, SUNBEAM, RADIANCE, and DAYBREAK (data cutoff February 2, 2021). UC: Includes TOUCHSTONE, TRUE NORTH, TRUE NORTH OLE (data cutoff: September 30, 2020). Post-Marketing Setting: data cutoff November 19, 2021. Exposure for patients with MS in clinical trials is 2631 patients and 11938 patient years. Exposure for patients with UC in clinical trials is 1158 patients and 2108 patient years. Exposure for patients in the post-marketing setting across indications is 9738 patients and 6455 patient years.<sup>4-6</sup></span></li>-->
		<!--/ul>
	</div>
	<div class="secondPara">
		<p><span class="blue bold">Clinical Trial:</span> The efficacy and safety of ZEPOSIA were evaluated in 2 multicenter, randomized, double-blind, placebo-controlled clinical studies [UC Study 1 (induction) and UC Study 2 (maintenance)] in adult patients with moderately to severely active ulcerative colitis, defined as a Mayo score of 6 to 12 at baseline.<sup>1</sup></p>
		<p><span class="blue bold">Primary Endpoint of Clinical Remission Is Defined as:</span> rectal bleeding subscore (RBS)=0, stool frequency subscore (SFS) 0 or 1 (and a decrease of â‰¥1 point from baseline SFS), and endoscopy subscore 0 or 1 without friability.<sup>1</sup></p>
		<p><span class="blue underline">UC Study 1 (10-week induction)</span><span class="blueColon">:</span> 645 patients were randomized 2:1 to either ZEPOSIA 0.92 mg given orally once daily or placebo for 10 weeks, beginning with a dosage titration. The trial included patients who had an inadequate response or were intolerant to any of the following: oral aminosalicylates, corticosteroids, immunomodulators, or a biologic. Patients were required to be on stable doses of oral aminosalicylates and/or corticosteroids.<sup>1</sup></p>
		<p><span class="blue underline">UC Study 2 (42-week maintenance)</span><span class="blueColon">:</span> 457 patients who received ZEPOSIA in either UC Study 1 or in an open-label arm and achieved clinical response at Week 10 were re-randomized 1:1 and were treated with either ZEPOSIA 0.92 mg (n=230) or placebo (n=227) for 42 weeks (UC Study 2), for a total of 52 weeks of treatment.<sup>1</sup></p-->
		<!--<p class="abbr"><span class="bold">JAKi</span>=Janus kinase inhibitor; <span class="bold">S1P</span>=sphingosine 1-phosphate.</p>-->
	<!--/div>
	<div class="gradient">
		<p class="callout-title">Get Your Patients Started on ZEPOSIA</p>
		<div class="callout-flex d-flex">
			<div class="callout one d-block">
				<h3 class="head3">Patient Start Form</h3>
				<p class="callout-copy">Enroll patients in <br class="d-page"/>ZEPOSIA 360<br class="m-page" /> Support<sup>TM</sup> and help<br class="d-page"/> them get started<br class="m-page" /> on treatment.</p>
				<a href='/content/dam/commercial/us/zeposiahcp/en/pdf/uc/zeposia-gastro-start-form.pdf' title='' class='callout-button download-arrow' target='_blank' aria-label=''  lang= ''   ><button class="callout-button download-arrow">PATIENT START FORM <img src="/content/dam/commercial/us/zeposiahcp/en/images/uc/white-download-arrow.png" class="download-arrow"></button></a>
				<a href='/content/dam/commercial/us/zeposiahcp/en/pdf/uc/zeposia-gastro-start-form-instructions.pdf' title='' class='callout-button  download-arrow' target='_blank' aria-label=''  lang= ''   ><button class="callout-button  download-arrow">PATIENT START FORM INSTRUCTIONS <img src="/content/dam/commercial/us/zeposiahcp/en/images/uc/white-download-arrow.png" class="download-arrow"></button></a>
			</div>
			<div class="callout two">
				<h3 class="head3">Get Started With <br /><img src="/content/dam/commercial/us/zeposiahcp/en/images/uc/covermymeds_logo.svg" alt="Cover My Meds Icon"></h3>
					<p class="callout-copy">To begin the process online,<br class="d-page" /> click the button below to visit<br class="d-page" /> covermymeds.com</p>
					<a href='https://account.covermymeds.com' data-authorurl='https://account.covermymeds.com' title='' aria-label=''lang='' class='open-modal callout-button white-arrow' data-target='externalLink' data-url='/content/commercial/us/zeposiahcp/en.warning.html' data-aa-launchid='Rich Text Editor' data-aa-launchdata='Visit COVERMYMEDS' data-classname='external-link-warning-modal' data-aa-popup='https://account.covermymeds.com|Visit COVERMYMEDS'><button class="callout-button white-arrow">Visit COVERMYMEDS</button></a>
			</div>
		</div>
	</div>
</div-->
    
    

</div>

</div>


                </div>
            </div>
        
        
        
		
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </div>
    <!--//row -->
</div>

    
</div>
<div class="html section">
<div>
	
		<div class="cmp-backToTop-wrapper ucButton hidden" style="display: none;">
    <a class="backToTop-link" href="#" aria-label="link">
        <img alt="Back to Top Icon" src="/assets/commercial/us/zeposiahcp/en/images/uc/Backtotopicon.svg" class="backToTop-img ucImg">
        <span class="backToTop-label ucLable">Back to Top</span>
    </a>
</div>
    
    

</div>

</div>


            </div>
        </div>
 	</div>
   	
</div>

    
</div>



                </div>
            </div>
        
        
        
		
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </div>
    <!--//row -->


    
</div>

<div class="html aem-GridColumn aem-GridColumn--default--12">
<div>
	
			
    
    

</div>

</div>

    
</div>


    </div>
</div>
<div class="footer section">
    
        
            
    
	
        <div>
            <footer class="footer footer-variation-one my-4">
                <!-- /* ISI Rendering component is only rendered when showIsi property is checked as true on the current page */ -->
                
                    
					
                
				
            </footer>
        </div>
    
	

            
        
    

<div id="loader" class="loader d-none">
    <div class="loader-icon"></div>
</div>
</div>
<div class="experiencefragment section">





    
	
    <div>
    	


    


<div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
    
    <div class="device-orientation aem-GridColumn aem-GridColumn--default--12">

<div class="rotation-error dev-rotate-wrapper" id="device-rotation">
    <div class="tab-portrait-error">
		<div class="error-flex-content">
			<img class="img-fluid" src="/assets/commercial/us/zeposiahcp/en/images/tab_err.svg">
			<p></p><p class="mb-0 device-rotation-text">This website is best viewed<br>
using the horizontal display on<br>
your tablet device.</p>
<p></p>
		</div>
    </div>
    <div class="mobile-landscape-error">
		<div class="error-flex-content">
			<img class="img-fluid" src="/assets/commercial/us/zeposiahcp/en/images/mob_err.svg">
			<p></p><p class="mb-0 device-rotation-text">This website is best viewed<br>
using the vertical display on<br>
your mobile device.</p>
<p></p>
		</div>
    </div>
</div>

    
</div>

    
</div>


    </div>
</div>


                </div>
            </div>
        
        
        
		
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </div>
    <!--//row -->


    
</div>


                </div>
            </div>
        
        
        
		
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </div>
    <!--//row -->


    
</div>
<div class="bg-lighter-blue py-5 footer-links-section">
						<div class="container px-lg-0">
							
    
    
    
    
        <div class="column-control-list column-control">





















    <div class="row" id="ftrlogocont">   
        
            <div class="col col-12">
                <div class="column-control-column">
                    <div class="html section">
<div>
	
		<div>
    <!-- <a class="cmp-image__link inlineblockk noUC" href="https://www.bms.com" target="_blank">
<img src="/content/dam/commercial/us/zeposiahcp/en/images/BMS-logo-rgb.svg" class="cmp-image__image" alt="Bristol Myers SquibbTM Logo"></a> -->
<!--<a class="cmp-image__link inlineblockk ms-bms d-none" href="https://www.bms.com" target="_blank">
<img src="/content/dam/commercial/us/zeposiahcp/en/images/BMS_Logo.svg" class="cmp-image__image" alt="Bristol Myers Squibb®Logo"></a>-->
<a class="imgt-ft pl-0 cmp-image__link inlineblockk ms-bms d-none d-block open-modal nav-link" href="https://www.bms.com" data-authorurl="https://www.bms.com" data-target="externalLink" data-classname="external-link-warning-modal cross-site" data-url="/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html" data-aa-popup="https://www.bms.com" rel="noopener noreferrer" target="_blank">
                <img src="/assets/commercial/us/zeposiahcp/en/images/BMS_Logo.svg" class="cmp-image__image" alt="Bristol Myers Squibb®Logo"></a>

<!-- <a class="cmp-image__link inlineblockk ucJobCode d-none" href="https://www.bms.com" target="_blank">
<img src="/content/dam/commercial/us/zeposiahcp/en/images/BMS_Logo.svg" class="cmp-image__image" alt="Bristol Myers Squibb® Logo"></a> -->

</div>
    
    

</div>

</div>


                </div>
            </div>
        
        
        
		
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </div>
    <!--//row -->


    
</div>

    

						</div>
					</div><div class="utility-nav-footer utilitynav">

	
        
    
    <div class="container px-0 cmp-utilitynav-wrapper">
	    <nav class="cmp-utility-nav d-none d-lg-block" role="navigation">
        <div class="d-flex flex-row leftnav-utility-nosocial">
            <ul class="nav cmp-utility-nav-list justify-content-around justify-content-lg-start col-md-12" data-listsize="6">
                <li class="nav-item cmp-utility-nav-list-item">
				
				
                
				 <a class="open-modal nav-link" href="https://www.bms.com/about-us/contact-us.html" data-authorurl="https://www.bms.com/about-us/contact-us.html" data-target="externalLink" data-classname="external-link-warning-modal cross-site" data-url="/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html" data-aa-popup="https://www.bms.com/about-us/contact-us.html|Contact Us" rel="noopener noreferrer" target="_blank">
                 <!--  <a class="nav-link" href="https://www.bms.com/about-us/contact-us.html" data-sly-attribute="{rel=noopener noreferrer, target=_blank}">-->
					Contact Us</a>
			    
                
                </li>
             
                <li class="nav-item cmp-utility-nav-list-item">
				
				
                
				 <a class="open-modal nav-link" href="https://www.bms.com/privacy-policy.html" data-authorurl="https://www.bms.com/privacy-policy.html" data-target="externalLink" data-classname="external-link-warning-modal cross-site" data-url="/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html" data-aa-popup="https://www.bms.com/privacy-policy.html|Privacy Policy" rel="noopener noreferrer" target="_blank">
                 <!--  <a class="nav-link" href="https://www.bms.com/privacy-policy.html" data-sly-attribute="{rel=noopener noreferrer, target=_blank}">-->
					Privacy Policy</a>
			    
                
                </li><li class="nav-item cmp-utility-nav-list-item "><a class="nav-link onetrust" href="javascript:void(0)" onclick="OneTrust.ToggleInfoDisplay()">Your Privacy Choices <img style="width:25px !important" src="/assets/commercial/global/privacyoptions.svg" alt="Privacy Link"> <span class="ln-cd" style="display: none;">|</span></a></li>
             
                <li class="nav-item cmp-utility-nav-list-item uc-lnp">
				
				
                
				 <a class="open-modal nav-link" href="https://www.bms.com/legal-notice.html" data-authorurl="https://www.bms.com/legal-notice.html" data-target="externalLink" data-classname="external-link-warning-modal cross-site" data-url="/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html" data-aa-popup="https://www.bms.com/legal-notice.html|Legal Notice" rel="noopener noreferrer" target="_blank">
                 <!--  <a class="nav-link" href="https://www.bms.com/legal-notice.html" data-sly-attribute="{rel=noopener noreferrer, target=_blank}">-->
					Legal Notice</a>
			    
                
                </li>
             
                <li class="nav-item cmp-utility-nav-list-item">
				
				
                
				 <a class="open-modal nav-link" href="https://www.bms.com" data-authorurl="https://www.bms.com" data-target="externalLink" data-classname="external-link-warning-modal cross-site" data-url="/content/commercial/us/zeposiahcp/en.cross-site-warning-message.html" data-aa-popup="https://www.bms.com|Bristol Myers Squibb" rel="noopener noreferrer" target="_blank">
                 <!--  <a class="nav-link" href="https://www.bms.com" data-sly-attribute="{rel=noopener noreferrer, target=_blank}">-->
					Bristol Myers Squibb</a>
			    
                
                </li>
             
                <li class="nav-item cmp-utility-nav-list-item" style="display: none;">
				
				
                
                
				 <a class="nav-link" href="/multiple-sclerosis/sitemap" target="_self">
                 <!--  <a class="nav-link" href="/content/commercial/us/zeposiahcp/en/multiple-sclerosis/sitemap.html" data-sly-attribute="{target=_self}">-->
					Site Map</a>
			    
                </li>
             
                <li class="nav-item cmp-utility-nav-list-item uc-sitemaplink">
				
				
                
                
				 <a class="nav-link" href="/ulcerative-colitis/sitemap" target="_self">
                 <!--  <a class="nav-link" href="/content/commercial/us/zeposiahcp/en/ulcerative-colitis/sitemap.html" data-sly-attribute="{target=_self}">-->
					Site Map</a>
			    
                </li>
             </ul>
               
           </div>
       </nav>   

        
       <nav class="cmp-utility-nav-mbl d-block d-lg-none " role="navigation"> 
             
       </nav> 
       </div>
    
    


    

</div>
</main>
