<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap">

<main>
  <section class="gateway">
    <div class="gatway-wrapper">
      <div class="top-header" data-slot="top-header">THIS SITE IS INTENDED FOR U.S. HCP AUDIENCES ONLY</div>
      <div class="banner-wrapper gateway-bg">
        <div class="gateway-bg-shadow"><img src="https://www.zeposiahcp.com/assets/commercial/us/zeposiahcp/en/images/gateway/gateway-bg-shadow.png"></div>
        <div class="container">
          <div class="gateway-logo"><img data-slot="logo" alt="ZEPOSIA® (ozanimod) Logo" src="https://www.zeposiahcp.com/assets/commercial/us/zeposiahcp/en/images/OZANIMOD_US_Logo_SPOT.png"></div>
          <p class="banner-text" data-slot="banner-text">I am a U.S. healthcare professional interested in information about ZEPOSIA for the following indications.</p>
          <div class="main-buttons d-flex">
            <div class="uc callout"><a data-slot="uc-link" href="/ulcerative-colitis" title="" class="mobile-arrow" target="" aria-label="" lang=""><span>Ulcerative Colitis</span><img src="https://www.zeposiahcp.com/assets/commercial/us/zeposiahcp/en/images/gateway/arrow-icn.png" class="mobile-arrow"></a></div>
            <div class="mc callout"><a data-slot="ms-link" href="/multiple-sclerosis" title="" class="mobile-arrow" target="" aria-label="" lang=""><span>Multiple Sclerosis</span><img src="https://www.zeposiahcp.com/assets/commercial/us/zeposiahcp/en/images/gateway/arrow-icn.png" class="mobile-arrow"></a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
