body {transition: opacity ease-in 0.2s; } 
body[unresolved] {opacity: 0; display: block; overflow: hidden; position: relative; } 


      /* .navbar-toggler-icon{ background: url(https://www.zeposiahcp.com/content/dam/commercial/us/zeposiahcp/en/images/menu.png) no-repeat scroll -8px 0 transparent !important;  } */
    /* added for author - to be removed after pre ptp testing  starts */
    body.preview div.section{
    display: block;
    }
    .new.section:empty {
        display: none;
    }
    /* added for author - to be removed after pre ptp testing ends */
    @media only screen and (max-width:1023px){
      .ms-support  .colr-white{color: #fff !important;}
        nav.navbar.navbar-expand-lg{background: linear-gradient(315deg, transparent 0, transparent 113px, #ffffff 0, #ffffff 100%);
z-index: 999;padding-top: 0px;}
#home-pgcont #hdrcont{background: url(https://www.zeposiahcp.com/content/dam/commercial/us/zeposiahcp/en/images/blue-back.png) repeat;
    background-position: 44px 30px; background-color: #0032A0;}

        .nav-item.navbtnred.m-page{
            background: #fff !important;
            text-align: center;
        }
        .nav-item.navbtnred.m-page a.nav-link{
            background: #f9423a;
            max-width: 245px;
            margin: 0 auto;
            border-radius: 30px;
            margin-top: 20px;
            text-align: center;
        }
        .navbar-expand-lg .navbar-nav li.nav-item.navbtnred::after{
            display:none;
        }
    }
    .borderLeft {
        border-left: 0 !important;
    }
    

html {scroll-behavior: smooth;}
.bc-iframe .vjs-playlist-sidebar .vjs-playlist-show-hide button:hover, .bc-player-6wrkYLilB_default .vjs-big-play-button:active, .bc-player-6wrkYLilB_default .vjs-big-play-button:focus, .bc-player-6wrkYLilB_default .vjs-menu-button-popup .vjs-menu .vjs-menu-item.vjs-selected, .bc-player-6wrkYLilB_default .vjs-play-progress, .bc-player-6wrkYLilB_default .vjs-volume-level, .bc-player-6wrkYLilB_default:active .vjs-big-play-button, .bc-player-6wrkYLilB_default:hover .vjs-big-play-button { background-color: #335BB3; }
.mssite .video-js:hover .vjs-big-play-button {background-color: #335BB3!important;}
#efficacy-pgcont #innerpgcont #innersectioncont > .col { padding-left: 0px; padding-right: 0px; }
#efficacy-pgcont #common-pgcont #innersectioncont > .col { padding-left: 15px; padding-right: 15px; }
#efficacy-pgcont #innerpgcont .fourth_img, #innerpgcont .fifth_img { display: none; }
.safety.section-4 .zep-box {margin-bottom: 30px;}
#getting-started-pgcont .titration_cont .boldtxt.mob-margin { line-height: 20px;}
.sitetxt {background: #ffffff linear-gradient(90deg, #FFFFFF 0%, rgba(118, 134, 146, 0.32) 100%) 0% 0% no-repeat;}
#efficacy-pgcont .tabcommon_cont .bodypara_small.boldtxt.font30, #efficacy-pgcont .tabcommon_cont div.bodypara_small.boldtxt.font22 { font-size: 18px; line-height: 20px; }
#support_360cont .covermymeds-img {width: 110px!important; height: 30px!important; }

@media (min-width: 1024px){
	#hdrcont a.navbar-brand img {margin-bottom: 10px;}
	.navbar-expand-lg .navbar-nav {margin-bottom: 5px;}
	#safety-pgcont .innersection.section-4.safety .grey-box {margin-bottom: 15px;}
	.navbar-expand-lg .navbar-nav .dropdown-menu {top: 33px;}
	#home-pgcont .inner-container {top: 85px!important;}
	#innerpgcont-efficacy #common-pgcont div#innersectioncont > .col > .column-control-column, #safety-pgcont #common-pgcont div#innersectioncont > .col > .column-control-column,#moa-pgcont #common-pgcont div#innersectioncont > .col > .column-control-column, #getting-started-pgcont #common-pgcont div#innersectioncont > .col > .column-control-column, #home-pgcont #common-pgcont div#innersectioncont > .col > .column-control-column {justify-content: center;}
	#safety-pgcont #common-pgcont #innersectioncont {margin-left: -15px;}
	#innerpgcont-efficacy #common-pgcont #innersectioncont {margin-left: 25px;}
	#innerpgcont-efficacy #common-pgcont #leftcontainer .cardel {width: 525px;}
	#innerpgcont-efficacy #common-pgcont #innersectioncont .col.col-12, #moa-pgcont #common-pgcont #innersectioncont { padding-left: 15px; padding-right: 15px; }
	#study-design-pgcont #innerpgcont #innersectioncont {padding-right: 30px;}
	#getting-started-pgcont #common-pgcont #innersectioncont {padding-right: 15px;}
	#support-pgcont #common-pgcont #innersectioncont {padding-right: 15px; padding-left: 10px;}
	#safety-pgcont #common-pgcont .head2, #moa-pgcont #common-pgcont .head2, #study-design-pgcont #common-pgcont .head2, #getting-started-pgcont #common-pgcont .head2, #support-pgcont #common-pgcont .head2.left-space {padding-left: 25px!important;}
	#innerpgcont-efficacy #common-pgcont .head2 {padding-left: 40px;}
	#home-pgcont #common-pgcont #leftcontainer .cardel {width: 523px;}
	#home-pgcont #common-pgcont .head2 {padding-left: 0px!important;}
	#innerpgcont-efficacy .col.col-12 {padding-left: 0px; padding-right: 0px;}
	#home-pgcont #common-pgcont .head2.rlt-2, #safety-pgcont #common-pgcont .head2.rlt-2, #moa-pgcont #common-pgcont .head2.rlt-2, #study-design-pgcont #common-pgcont .head2.rlt-2, #innerpgcont-efficacy #common-pgcont .head2.rlt-2 { padding-left: 0px !important;}
	#common-pgcont #rightcontainer #videoparent .head4{font-size: 26px;} 
}

@media (max-width: 1023px){
#efficacy-pgcont #common-pgcont #innersectioncont >.col, #common-pgcont #innersectioncont >.col .row > .col {padding-left: 0px; padding-right: 0px;}
#brain-canvas {transform: translateX(0) translateY(-40px) !important;}
#Lesions .cardel.fullWidth img {padding-top: 25px;}
#getting-started-pgcont #innersectioncont.reqcont {border-bottom: 5px solid #005C53!important;padding-bottom: 10px;}
#getting-started-pgcont #common-pgcont {padding-top: 60px;}
.rar-item img {max-width: 245px;}
.sitetxt .container { padding-left: 0px; padding-top: 5px; }
#study-design-pgcont #innerpgcont .bodypara_small + .bodypara_small { padding-bottom: 0px; }
#support-pgcont .pb-sm-20 { padding-bottom: 20px; }
#moa-pgcont .pt-sm-40 {padding-top: 40px;}
#support-pgcont .pt-sm-6 { padding-top: 6px; }
#moa-pgcont .moa-img {height: 51px; margin-top: 20px;}
#home-pgcont #common-pgcont .head2.rlt-2, #safety-pgcont #common-pgcont .head2.rlt-2, #moa-pgcont #common-pgcont .head2.rlt-2, #study-design-pgcont #common-pgcont .head2.rlt-2, #innerpgcont-efficacy #common-pgcont .head2.rlt-2 {padding-bottom: 27px;}
#innerpgcont .innersectioncont {padding: 10px;}
#initiation{clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 6%, 95% 0) !important;}
}


#evg-exit-intent-popup.evg-exit-intent-popup-ms-cta-img .evg-btn-lg:last-child { background-color: #ffffff !important;}
#evg-exit-intent-popup.evg-exit-intent-popup-ms-cta-img .evg-btn-lg:after{top: 12px;}
.evg-exit-intent-popup-ms-cta-img a.evg-cta.evg-btn.evg-btn-primary.evg-btn-lg { width: 310px; padding: 5px 10px !important;}
#evg-exit-intent-popup.evg-exit-intent-popup-ms .evg-btn-lg { font-weight: 700;}
@media (max-width: 1023px) {
#evg-exit-intent-popup.evg-exit-intent-popup-ms-cta-img .evg-popup {
    min-width: 356px;
    width: 356px;
    max-height: 394px;
    padding: 20px 40px;
}
#evg-exit-intent-popup.evg-exit-intent-popup-ms .evg-popup {
    min-width: 356px;
    width: 356px;
    max-height: 394px;
    padding: 20px 40px;
}
#evg-exit-intent-popup .evg-h1.evg-display-4 {
    font-size: 24px;
    line-height: 26px;
    padding: 20px 15px 44px;
}
#evg-exit-intent-popup.evg-exit-intent-popup-ms-cta-img .evg-btn-lg:last-child { width: 356px;}
}

@media (min-width: 1024px) {
#evg-exit-intent-popup .evg-popup {
    padding: 20px 90px;
}
#evg-exit-intent-popup .evg-main-panel {
    position: relative;
    padding-bottom: 55px;
    justify-content: flex-start;
}
#evg-exit-intent-popup .evg-h1.evg-display-4 {
    padding-top: 52px;
}
.evg-exit-intent-popup-ms a.evg-cta.evg-btn.evg-btn-primary.evg-btn-lg { width: 266px;}
#evg-exit-intent-popup.evg-exit-intent-popup-ms-cta-img .evg-btn-lg {
    position: absolute;
    left: 75px;
    bottom: 52px;
}

#evg-exit-intent-popup.evg-exit-intent-popup-ms-cta-img .evg-btn-lg:last-child {
right: 75px;
left: unset;
bottom: 40px;
padding: 0 !important;
}

#evg-exit-intent-popup.evg-exit-intent-popup-ms .evg-btn-lg {
    position: absolute;
    left: 140px;
    bottom: 52px;
    font-weight: 700;
}
#evg-exit-intent-popup.evg-exit-intent-popup-ms .evg-btn-lg:last-child {
right: 130px;
left: unset;

}
}


.support-first-content { flex-basis: 0;flex-grow: 1; }
.starter-kit-images { background: #ffffff;margin-left: 15px;padding: 10px 15px; }
.starter-kit-img1 { height: 173px;margin-left: 0px!important;padding-right: 15px; }
.starter-kit-img2 { height: 173px;margin-left: 0px!important;border-left: 2px solid #c4d2db;padding-left: 15px; }
@media (max-width: 480px) {
.starter-kit-images { margin-top: 20px; }
.starter-kit-img2 { border-left: 0; }
}
#greenbg {
    background: url(https://www.zeposiahcp.com/content/dam/commercial/us/zeposiahcp/en/images/background-inner.png);


	@media (min-width: 1024px) {
	.h-oneline {
		font-size: 24px !important;
	}
}


#support-pgcont .left_bottom-content { display: none; }
#support-pgcont #leftcontainer .cardel .head1 {padding-bottom: 45px;}
#support-pgcont .linkcont {padding-bottom: 40px;}


    .fntS26{
        font-size: 26px !important;
    }


.ml{margin-left: -8px;}
a.noline {text-decoration:none !important;}
.terms-link {color: #0032A0;}
@media (min-width: 1024px){
#support-pgcont .supportcont:first-child img{
	width: 45px;
	margin: 0 0 0 5px;}
#support-pgcont .supportcont:nth-child(4) img{
	width: 50px;
	margin: 0 0 0 0px;}
}

.m_top{
    margin-top: 0px;
}
@media (max-width: 1023px){
.mt-10{
    margin-top: -10px;
}
.reference.lft-0::before {left: 0 !important;}
.margBot{
    margin-bottom: -10px;
}
.m_top{
    margin-top: -13px !important;
}
.margTop18{
    margin-top: -2px !important;
}
.margTop10{
    margin-top: -10px;
}
.margBot15{
    margin-bottom: -15px;
}
#support-pgcont #support_360cont .new_sec .supportcont.zepo-tab:after {
    top: 255px !important;
}

.img-mb-ft{
	width: 60px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    height: 50px !important;
}
.img-mb-crcl{
	width: 60px !important;
    margin-right: 10px !important;
    margin-left: 0px !important;
    height: 50px !important;
}
.img-mb-crcl-24{
	width: 60px !important;
    margin-right: 10px !important;
    margin-left: 0px !important;
    height: 50px !important;
	margin-top: -12px !important;
}
.pl-mb-0{
        padding-left: 0px !important;
}
.mrg-minus-lft{
margin-left: -10px;
}
}


		.bg-blue{background: #d9e0f1;}
		.sprt-btn:hover {
			color: #fff;
			background: #335bb3 !important;
}
		@media (min-width:1024px){.yellowtxt{font-size: 28px !important;}}
	

	@media (max-width: 1024px){
	.anchorlinks_cont span:not(:last-child) {margin-right: 0px;}
	}
	

    .click_none {
        pointer-events: none;
    }

    #ResourcesGettingStarted .resourcecont .orangelinkel.rounded a {
        padding: 8px 40px;
    }

    #ResourcesGettingStarted #Lead_exp .resourcecont {
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .t_name {
        margin-left: 185px;
        margin-top: -90px;
    }

    .b_name {
        padding-left: 180px;
    }

    .img_circle {
        padding-left: 30px;
    }

    #ResourcesGettingStarted #Lead_exp .resourcecont .orangelinkel.rounded a {
        padding: 10px 24px;
    }

    #ResourcesGettingStarted #Lead_exp .orangelinkel.rounded.downloadLink a:after {
        background: url(https://www.zeposiahcp.com/content/dam/commercial/us/zeposiahcp/en/images/right_arrow_up.svg) no-repeat;
        width: 16px;
        height: 17px;
    }

    @media (max-width: 1023px) {
        #ResourcesGettingStarted #Lead_exp .resourcecont {
            text-align: center;
            padding-bottom: 17px;
        }

        .t_name {
            margin-left: 0px;
            margin-top: 0px;
        }

        .b_name {
            padding-left: 0px;
        }

        #support-pgcont .cardel .orangelinkel::before {
            left: 0;
        }

        #support-pgcont .resourcecont.video_img:not(:first-child) {
            background: none;
        }

        .marMob {
            margin-top: 12px !important;
        }

        #support-pgcont .download_cont .resourcecont.head-nowrap .bodypara {
            white-space: inherit !important;
        }

    }

    .imgWid {
        width: 150px;
    }

    .imgWidmob {
        width: 130px;
    }


    .cmp-backToTop-wrapper.hidden.d-block{display: block !important;}
    

a.imgt-ft.pl-0.cmp-image__link.inlineblockk.ms-bms.d-none.d-block.open-modal.nav-link {
    width: 288px;
}
    .ucsite .new-veeva-code {
        font-size: 14px;
        line-height: 16px;
        color: #000;
        font-family: arial;
        margin-bottom: 0;
    }

    #gatewayWrapper .gateway-site-text {
        display: none;
    }

    .gatewayFootero {
        display: none;
    }

    .ms-orphan .viva-ms,
    .ms-sitemap .viva-ms {
        display: none;
    }

    #gatewayWrapper .gatewayFootero {
        display: inline-block;
    }

    #gatewayWrapper .dnss {
        display: none !important;
    }

    .gatewayFooteron,
    #gatewayWrapper .gatewaymno {
        display: none;
    }

    #gatewayWrapper .gatewayFooteron {
        display: block;
    }

    img.wdt375 {
        max-width: 375px;
    }

    @media (max-width : 1023px) {
        .desk-no-display {
            display: none !important;
        }

        .mssite .ftrcopytxt.plms {
            padding-top: 0;
        }

        .ucsite .ftrcopytxt.plms {
            padding-top: 0;
        }
    }
    @media (max-width: 1023px) {
        .ucsite .sticky-element .isi-content div.head3.newhead-uc {
    margin-top: 0px;
}
.head3.newhead-uc {
    margin-top: 73px;
}
    }

@supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
    .ucsite .cmp-utility-nav-list li.cmp-utility-nav-list-item:nth-child(6) {
        display: none;
    }
}

li.nav-item.cmp-utility-nav-list-item.uc-lnp a::after {

    content: "|" !important;
}

.uc-sitemaplink {
    display: block !important;
}

.cmp-utility-nav-list li.cmp-utility-nav-list-item:nth-child(4) {
    display: block !important;
}

/* .cmp-utility-nav-list li.cmp-utility-nav-list-item:nth-child(4) a::after {
    content: none;
} */

.cmp-utility-nav-list li.cmp-utility-nav-list-item:last-child {
    display: none;
}

.Onetrustformc {
    display: block !important;
}

.Onetrustformc a::after {
    content: none !important;
}

.Onetrustforbms a span {
    padding-left: 7px;
}

footer .cmp-utility-nav ul.nav.cmp-utility-nav-list,
.cmp-isi .cmp-utility-nav ul.nav.cmp-utility-nav-list {
    justify-content: normal !important;
}

span.ln-cd {
    margin-top: 3px;
    color: #e1e1e1;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    margin-left: 4px;


}

footer .cmp-utility-nav ul.nav>li.cmp-utility-nav-list-item>a.nav-link,
.cmp-isi .cmp-utility-nav ul.nav>li.cmp-utility-nav-list-item>a.nav-link {
    padding: 5px 6px 0px 0px !important;
}

footer li:not(:last-child) .nav-link::after,
.cmp-isi li:not(:last-child) .nav-link::after {
    padding-left: 6px !important;
}

@media (max-width:1023px) {
    .cmp-utility-nav ul.nav>li.cmp-utility-nav-list-item :last-child a {
        margin-left: 0px !important;
    }

    footer .cmp-utility-nav ul.nav.cmp-utility-nav-list {
        margin-top: 0px !important;
    }
}
@media (max-width:1023px){ #efficacy-pgcont #greenbg {
    padding-bottom: 0 !important;
}}



